.container {
  justify-content: center;
  padding-bottom: 80px;
}

.spinner {
  justify-self: center;
  align-self: center;
  border: 5px solid #f3f3f3;
  border-top-color: #E57601;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wishlist {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #A9A9A9;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 20;
}

.cardcontainer {
  width: 177px;
  height: 326px;
}

.imagecontainer {
  border-radius: 16px;
  z-index: 0;
}

.textcontainer {
  margin-top: 10px;
  padding: 8px;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.viewsection,
.ratingsection {
  display: flex;
  align-items: center;
  gap: 4px;
}

.viewsection {
  width: 46px;
}

.ratingsection {
  width: 40px;
}

.viewcounts,
.ratingnumber {
  font-size: 12px;
  font-weight: 300;
}

.viewcounts {
  color: #888888;
}

.ratingnumber {
  color: #E57601;
}

.name {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  color: #000;
}

.date {
  font-size: 10px;
  font-weight: 300;
  line-height: 15px;
  color: #888888;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 16px 24px;
  background-color: #fff;
  box-shadow: 0px -8px 8px #00000014;
  z-index: 10;
}
.navicon{
  width: 24px;
  height: 24px;
  color: #888888;
}

.navitems {
  text-align: center;
}

.navitem {
  font-size: 10px;
  font-weight: 600;
  line-height: 22px;
  color: #757575;
}

.navitems.selected {
  color: #E57601;
}

.propertyname {
  font-size: 20px;
  font-weight: 500;
  color: #252B5C;
}

.propertyaddress {
  padding-left: 10px;
  font-size: 12px;
  font-weight: 400;
  color: #53587A;
  line-height: 20px;
}

@media (max-width: 480px) {
  .propertiescontainer {
    margin-left: 13px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }

  .propertycontainer {
    padding: 0 13px 100px;
  }
}

@media (min-width: 768px) and (max-width: 850px) {
  .propertiescontainer {
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
  }

  .propertyimage {
    width:600px;
  }

  .propertycontainer {
    padding: 0 100px 100px;
    background-color: aquamarine;
  }
}

@media (min-width:900px) and (max-width:1024px){
  .propertiescontainer {
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
  }

  .propertyimage {
    width:800px;
    
  }

  .propertycontainer {
    padding: 0 100px 100px;
    background-color: aquamarine;
  }
}
